*
!.gitignore
!go.mod
!go.sum
!Makefile
!Dockerfile
!LICENSE
!SECURITY.md
!README.md
!shell.nix

!.github
!.github/**

!web
!web/**

!misc
!misc/**

!app
!app/**

!cmd
!cmd/swap
!cmd/swap/**

!pkg
!pkg/**

!asset
!asset/**

!gen
!gen/**

!bin
!bin/.gitkeep
